
@{
    ViewData["Title"] = "Inicio";
}
<article>
    <header>
        <h2>P&aacute;gina principal</h2>
    </header>
    <p><a href="/Account/Login" class="button">Iniciar Sesi&oacute;n</a></p>
</article>