@model ds.core.entities.OpcionMenu

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Crear Opci&oacute;n Men&uacute;</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Texto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Glyph" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Glyph" class="form-control" />
                <span asp-validation-for="Glyph" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Rol</label>
            <div class="col-md-10">
                <select asp-for="RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Opci&oacute;n Superior</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ParentId, (SelectList)ViewBag.ParentId, "<Ninguna>", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Regresar</a>
</div>

